<tr>
    <td>{{deList project}}</td>
    <td>{{deList po}}</td>
    <td>{{deList swle5}}</td>
    <td>{{deList swle6}}</td>
    <td>{{deList results}}</td>
    <td><a href="/info?id={{id}}">press</a></td>
</tr>