                    <tr>
                        <td>To be reviewed</td>
                        <td>{{context.swle5.tbr}}</td>
                    </tr>
                    <tr>
                        <td>In review</td>
                        <td>{{context.swle5.ir}}</td>
                    </tr>
                    <tr>
                        <td>Accepted (testable)</td>
                        <td>{{context.swle5.accepted}}</td>
                    </tr>
                    <tr>
                        <td>Not testable</td>
                        <td>{{context.swle5.nt}}</td>
                    </tr>
                    <tr>
                        <td>Total in project</td>
                        <td>{{context.swle5.tip}}</td>
                    </tr>