                    <tr>
                        <td>Total number of tests</td>
                        <td>{{context.swle5.tnot}}</td>
                    </tr>
                    <tr>
                        <td>Number/Percent of automated tests</td>
                        <td>{{context.swle5.npoat}}</td>
                    </tr>
                    <tr>
                        <td>Number/Percent of manual tests</td>
                        <td>{{context.swle5.npomt}}</td>
                    </tr>
                    <tr>
                        <td>Percent of SWE.2 (Accepted) covered with SWE.5</td>
                        <td>{{context.swle5.paccepted}}</td>
                    </tr>
                    <tr>
                        <td>Percent of SWE.2 (Total) covered with SWE.5</td>
                        <td>{{context.swle5.ptotal}}</td>
                    </tr>