                <tr>
                    <td>To be reviewed</td>
                    <td>{{context.swle6.tbr}}</td>
                </tr>
                <tr>
                    <td>In review</td>
                    <td>{{context.swle6.ir}}</td>
                </tr>
                <tr>
                    <td>Accepted (testable)</td>
                    <td>{{context.swle6.accepted}}</td>
                </tr>
                <tr>
                    <td>Not testable</td>
                    <td>{{context.swle6.nt}}</td>
                </tr>
                <tr>
                    <td>Total in project</td>
                    <td>{{context.swle6.tip}}</td>
                </tr>