                    <tr>
                        <td>Total number of tests</td>
                        <td>{{context.swle6.tnot}}</td>
                    </tr>
                    <tr>
                        <td>Number/Percent of automated tests</td>
                        <td>{{context.swle6.npoat}}</td>
                    </tr>
                    <tr>
                        <td>Number/Percent of manual tests</td>
                        <td>{{context.swle6.npomt}}</td>
                    </tr>
                    <tr>
                        <td>Percent of SWE.1 (Accepted) covered with SWE.6</td>
                        <td>{{context.swle6.paccepted}}</td>
                    </tr>
                    <tr>
                        <td>Percent of SWE.1 (Total) covered with SWE.6</td>
                        <td>{{context.swle6.ptotal}}</td>
                    </tr>